<p>Hola, esta tarea empieza ahora</p>

<p>
  <strong>Titulo:</strong>
  <%= @lista_de_tarea.titulo %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @lista_de_tarea.fecha_de_inicio %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @lista_de_tarea.fecha_de_fin %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @lista_de_tarea.correo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lista_de_tarea.status %>
</p>

