<p id="notice"><%= notice %></p>

<h1><%= list_name %></h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Correo</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% lista_de_tareas&.each do |lista_de_tarea| %>
      <tr>
        <td><%= lista_de_tarea.titulo %></td>
        <td><%= lista_de_tarea.fecha_de_inicio %></td>
        <td><%= lista_de_tarea.fecha_de_fin %></td>
        <td><%= lista_de_tarea.correo %></td>
        <td><%= lista_de_tarea.status %></td>
        <td><%= link_to 'Show', lista_de_tarea %></td>
        <td><%= link_to 'Edit', edit_lista_de_tarea_path(lista_de_tarea) %></td>
        <td><%= link_to 'Destroy', lista_de_tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
