<p id="notice"><%= notice %></p>

<h1>Lista De Tareas</h1>

<%= render 'index_table', lista_de_tareas: @lista_de_tareas_pasadas, list_name: 'Pasadas' %>
<%= render 'index_table', lista_de_tareas: @lista_de_tareas_pendientes, list_name: 'Pendientes' %>
<%= render 'index_table', lista_de_tareas: @lista_de_tareas_futuras, list_name: 'Futuras' %>


<br>
<%= link_to 'New Lista De Tarea', new_lista_de_tarea_path %>
